.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
  }
  
  .social-link:hover,
  .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
  }
  
  // feaures page
  .features #hero {
    padding: 0;
    overflow: hidden;
    height: 86vh;
    display: flex;
    align-items: center;
}
.features{
  display: flex;
  justify-content: center;
  align-items: center;
}
// home
:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;

}

a {
  color: #4154f1;
  text-decoration: none;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

#home {
  padding: 60px 0;
  overflow: hidden;
  background-image: url('../../public/photos/hero-bg.png');
  background-repeat: no-repeat;
  padding-top: -1rem !important;
    padding-bottom: -1rem !important;
}

.section-header {
  
  text-align: center;
  padding-bottom: 40px;
}

.section-header h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: #4154f1;
  text-transform: uppercase;
}
#home h1{
  font-size: 2.7rem !important;
}
#home h2{
  font-size: 1.2rem !important;
}

.section-header p {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  color: #012970;
}
#home a.btn:first-child{
  width: 95px;
  font-size: 16px;
  margin-right: 7px;
}
@media (max-width: 768px) {
  .section-header p {
    font-size: 28px;
    line-height: 32px;
  }
}